#chart,
.chart-box {
  padding-top: 4px;
  padding-left: 10px;
  background: transparent;
  /* border: 1px solid #ddd; */
  /* box-shadow: 0 22px 35px -16px rgb(0 0 0 / 10%); */
}

#one_week,
#one_month,
#one_year,
#ytd,
#all {
  background: transparent;
  color: #222;
  border: none;
  padding: 5px 17px;
  margin:0;  
  width: 100%;
}
#one_week:hover,
#one_month:hover,
#one_year:hover,
#ytd:hover,
#all:hover{
  background-color: #28347d;
  color: #f2f2f2;
}
.toolbar {
  margin: auto;
}

.apexcharts-toolbar {
  position: absolute;
  z-index: 11;
  max-width: 176px;
  text-align: right;
  border-radius: 3px;
  padding: 0px 6px 2px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropbtn {
  background-color: #f2f2f2;
  color: #222;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 150px;
  border: 1px solid #222;
  /* height: 30px; */
  /* text-align: center; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.dropdown-content a:hover {background-color: #28347d}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f2f2f2;
}